# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# OS files
.DS_Store

# Other
pip-selfcheck.json
