*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color:whitesmoke;
  margin: 0px;
  color: #333333;
}

main{
  margin: 20px;
}

.hero-img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(/static/images/BlueLabHero.png);
  height: 200px;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navMain{
  color: lightblue;
  position: relative;
}

.hero-txt {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}